local_backup

build/
docs

batch_run/queuebit_vivado/
batch_run/dfx_runtime.txt
batch_run/.Xil/

*.vvp
*.vcd

dispatch_log.txt
integration_test.log
reduced_stim.txt

xsim.dir/
*.wdb
*.jou
*.log
*.pb
.Xil/
xsim_*.backup.*
dfx_runtime.txt

*.tmp
*.backup
webtalk*.jou
webtalk*.log
vivado*.jou
vivado*.log

*/__pycache__/
*/*.pyc
*/*.pyo
*/.ipynb_checkpoints/

deliverables_old